.DS_Store
.AppleDouble
.LSOverride

build*/
.ipynb_checkpoints
*.pyc
*.cide
.vs/

dist/scannedreality-player-library-web/cert.pem
dist/scannedreality-player-library-web/key.pem
dist/scannedreality-player-library-web/app/scannedreality-player-app-simd.*
dist/scannedreality-player-library-web/app/scannedreality-player-app.*
dist/scannedreality-player-library-web/lib/scannedreality-player-simd.*
dist/scannedreality-player-library-web/lib/scannedreality-player.*

src/scan_studio/viewer_web/asset_dir/video.xrv
src/scan_studio/viewer_web/file.data
src/scan_studio/viewer_web/file.js
